body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

#map {
  width: 50%;
  float:left;
  height:100%;
}

#sideBar {
	width: 50%;
	float:right;
	background: #4682B4;
	height: 100vh;
	color: white;
	font-family: sans-serif;
	padding: 20px;
	box-sizing: border-box;
}

#menu {
	font-size: 16px;
	position: absolute;
	right:22px;
	text-decoration: underline;
}

h1{
	font-size: 42px;
	margin-top: 0;
}

.park {
	background: #7FABC9;
	padding:20px;
	border-radius: 22px;
	margin-bottom: 29px
}

.park.hover {
	background: #8ECEFA;
}

.parkTitle{
	font-size: 36px;
	font-weight: bold;
}

.parkInfo{
	font-size: 21px;
	margin-bottom: 22px
}


